<div *ngIf="!veriHazir" class="about-container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh; color: #ffd700;">
</div>

<div class="about-container" *ngIf="veriHazir">
  
  <a routerLink="/" class="home-link-btn">
    <div class="home-icon">🏠</div>
    <span class="tooltip-text-right">Blog Vitrini</span>
  </a>

  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-avatar">
        <img *ngIf="fullImageUrl" [src]="fullImageUrl" alt="Profil" class="avatar-img">
      </div>
      <h1>{{ hakkimda?.isim_soyisim }}</h1>
      <p class="title">{{ hakkimda?.meslek }} | {{ hakkimda?.yas }}, {{ hakkimda?.sehir }}</p>
    </div>

    <div class="profile-body">
      <div class="about-section">
        <h3>Hakkımda</h3>
        <p>{{ hakkimda?.aciklama }}</p>
      </div>

      <div class="social-links">
        <a [href]="hakkimda?.linkedin_url" target="_blank" class="social-btn">LinkedIn</a>
        <a [href]="hakkimda?.github_url" target="_blank" class="social-btn">GitHub</a>
      </div>
    </div>
  </div>
</div>